<h3>Recover password!</h3>

Hi {{ name }},

<br/><br/><br/>
Please click on this link to set the new password :

<br/><br/>
<a href="{{ link }}">Create new password!</a>.

<br/><br/><br/>
Thanks!<br/><br/>
<strong>The great village team.</strong>