<h3>Welcome!</h3>

Hi {{ name }},

Congrats, you're a new greater.

<br/><br/><br/>
Please click on this link to set your password :

<br/><br/>
<a href="{{ link }}">Set my password!</a>.

<br/><br/><br/>
Thanks!<br/><br/>
<strong>The great village team.</strong>